input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.check-password {
    cursor: pointer;
}

.text-smooets {
    color: #94d237 !important;
}