input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.check-password {
    cursor: pointer;
}

.text-smooets {
    color: #94d237 !important;
}

.form-check-sign {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-top: .5em;
    z-index: 99;
}

.form-check-sign .password-icon {
    font-size: 1.2em;
}

.form-check-sign-register {
    position: relative;
    top: 11px !important;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 99;
}

.form-check-sign-register .password-icon {
    font-size: 1.2em;
}